.main {
  .big_picture {
    width: 100vw;
    height: 40vh;
    background-size: cover;
    opacity: 0.4;
  }

  .profil_picture {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 350px;

    .picture {
      background-size: cover;
      width: 350px;
      height: 350px;
      background-color: white;
      border-radius: 50%;
      position: relative;
      top: -50%;
      box-shadow: 1px 12px 15px rgba(0, 0, 0, 0.4);
    }

    .name {
      text-align: center;
      flex: 1;
      font-size: 52px;
    }

    .job {
      text-align: center;
      flex: 1;
      font-size: 52px;
    }
  }

  @media (max-width: 900px) {
    .big_picture {
      height: 30vh;
    }

    .profil_picture {
      height: 300px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .picture {
        width: 250px;
        height: 250px;
        position: absolute;
        // display: none;
      }

      .name {
        margin-top: 150px;
        font-size: 36px;
      }

      .job {
        font-size: 36px;
      }
    }
  }
}